# This workflow will install Python dependencies, build the package, run tests, and
# lint with multiple version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  UV_SYSTEM_PYTHON: true

jobs:
  build-and-install:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
    - name: Build the package
      run: |
        uv pip install build
        uv build
    - name: Install the package
      run: |
        uv pip install dist/*.tar.gz

  tests:
    runs-on: ubuntu-latest
    needs: build-and-install
    strategy:
      matrix:
        test-type: [test_schemas, test_analysis, test_training]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
    - name: Install dependencies
      run: |
        uv pip install -e '.[dev]'
        uv pip install coverage coveralls
    - name: Test schemas with pytest
      env:
        RUN_PIPELINE_TESTS: true
      run: |
        python -m coverage run -m pytest tests/${{ matrix.test-type }}.py -sv
    - name: Submit coverage to Coveralls
      continue-on-error: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        coveralls --service=github

  ruff-linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
        with:
          args: "check ."

  ruff-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
        with:
          args: "format . --check"